h1, h2, h3 {
    text-align: center;
    color:white;
}

body {
    background-color: #282828;
}

p {
    text-indent: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
    text-align:center;
    color:Dodgerblue;
}

form {
    text-align:center;
    background-color:Dodgerblue;
}

div {
    /*padding: 5px;
    border: 10px solid Dodgerblue;*/
    background-color:Dodgerblue;
}

input {
    margin: 10px;
}

.about {
    text-align:center;
}

.stick {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


