<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments ::head"></head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<span th:replace="fragments :: icon"></span>

<h3>About Us</h3>
<div class="mosaic mosaic-version-a row feature-container">
    <div class="mosaic--tile col-lg-4 col-med-4 col-sm-4"><img
            src="https://th.bing.com/th/id/OIP.0bqo__xxZhc86K22QwIUfwHaFF?w=259&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
            alt="moneymoneymoney"></div>
    <div id="about" class="mosaic--tile col-lg-4 col-med-4 col-sm-4" style="text-indent:50px">Here at Prac Bank we cater
        to your needs! With over 3000 years of experience, we help protect your money by any means necessary. Come see
        one of our many locations, so you can rest easy knowing your money is safe. We have
        <ul>
            <li>State-of-the-Art Uncrackable Safes</li>
            <li>Top-of-the-Line Skin Melting Laser Systems</li>
            <li>Facial Recognition Programs (that see through masks!)</li>
        </ul>
    </div>
    <div class="mosaic--tile col-lg-4 col-med-4 col-sm-4"><img
            src="https://th.bing.com/th/id/OIP.kTmsQVCxgC9NfiuJmLgT1QHaDt?w=301&h=174&c=7&r=0&o=5&dpr=1.3&pid=1.7"
            alt="justmoney"></div>
</div>

</body>
</html>
