<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Practice Bank</title>
    <link class="img-rounded" rel="icon" type="image/x-icon" href="https://clipground.com/images/coin-clipart-15.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<!--Put navigation inside head fragment?-->
<nav th:fragment="navigation">
    <h1 th:text="${title}">Bank of Practice (nav)</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/user/profile">Personal</a></li>
        <li class="nav-item"><a class="nav-link" href="/DoesNotExist">Business</a></li>
        <li class="nav-item"><a class="nav-link" href="/DoesNotExist">Loans</a></li>
        <li class="nav-item"><a class="nav-link" href="/DoesNotExist">Investments</a></li>
    </ul>
</nav>

<nav th:fragment="profile-nav">
    <h1 th:text="${title}">Bank of Practice (nav)</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/user/profile">Personal</a></li>
        <li class="nav-item"><a class="nav-link" href="/DoesNotExist">Business</a></li>
        <li class="nav-item"><a class="nav-link" href="/transactions">TempTransLink</a></li>
        <li class="nav-item"><a class="nav-link" href="/transactions/add">Add Transaction</a></li>
    </ul>
</nav>

<span id="stick" th:fragment="icon">
    <h4 style="color:orange">Prac Bank<img class="img-rounded" src="https://clipground.com/images/coin-clipart-15.jpg"
                                           alt="Bank Icon" width="40" height="40"></h4>
</span>

<footer th:fragment="foot">
    <nav>
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/DoesNotExist">Donate</a></li>
            <li class="nav-item"><a class="nav-link" href="/DoesNotExist">Affiliates</a></li>
        </ul>
    </nav>
</footer>

</body>
</html>
