<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>

<!--TODO: Get image to load correctly-->
<img class="avatar" src="images/bank-icon.jpg" alt="Bank Icon">

<!--TODO: Make page look better!-->
<div style="background-color:Dodgerblue" class="mosaic mosaic-version-a row feature-container">
    <div class="mosaic--tile col-lg-4 col-med-4 col-sm-4" style="position: relative">This should be on the left</div>
    <div class="mosaic--tile col-lg-4 col-med-4 col-sm-4" style="position: relative">This should be in the middle</div>
    <div class="mosaic--tile col-lg-4 col-med-4 col-sm-4" style="position: relative">Here at Prac Bank we cater to
        your needs!
        With over 3000 years of experience, we help protect your money by any means necessary. Come see one of our
        many locations, so you can rest easy knowing your money is safe. We have state of the art uncrackable safes,
        top of the line skin melting laser systems, and facial recognition programs that see through masks!
    </div>
</div>


</body>
</html>
